@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-image: url(/noise.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.05;
  pointer-events: none;
}

.word-deco-s {
  background-image: url('/deco/line_light.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: .25rem 0rem;
}

.word-deco-light-l {
  background-image: url('/deco/line_light.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem 0rem;
}
.word-deco-dark-l {
  background-image: url('/deco/line_dark.svg');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem 0rem;
}

@keyframes grain {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
