@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --antiqueWhite: #fff7ee;
  --cadmiumOrange: #ea832f;
  --dandelion: #fcda70;
  --razzmataz: #e52573;
  --lavanderPink: #ffb5d0;
  --lightLavanderPink: #FFE0EB;
  --eggBlue: #8be3d3;
  --bgOrangeServices: #ffdabb;
  --textGrey: #4d5358;
  --backgroundPage: #FFFCF7;

  /* borders */
  --borderCardService: 2px solid #f7e8d5;
  --borderCardProject: 4px solid var(--lavanderPink);
  --borderCardProjectTitle: 0px 4px 0px 0px solid var(--lavanderPink);

  /* shadows */
  --shadowCard: 6px 6px var(--cadmiumOrange);
  --shadowCardProject: 6px 6px var(--razzmataz);
}

/* COLORS CLASSES */
.bg-antiqueWhite {
  background-color: var(--antiqueWhite);
}
.color-antiqueWhite {
  color: var(--antiqueWhite);
}
.bg-cadmiumOrange {
  background-color: var(--cadmiumOrange);
}
.color-cadmiumOrange {
  color: var(--cadmiumOrange);
}
.bg-dandelion {
  background-color: var(--dandelion);
}
.color-dandelion {
  color: var(--dandelion);
}
.bg-razzmataz {
  background-color: var(--razzmataz);
}
.color-razzmataz {
  color: var(--razzmataz);
}
.bg-lavanderPink {
  background-color: var(--lavanderPink);
}
.color-lavanderPink {
  color: var(--lavanderPink);
}
.bg-lightLavanderPink {
  background-color: var(--lightLavanderPink);
}
.color-lightLavanderPink {
  color: var(--lightLavanderPink);
}
.bg-eggBlue {
  background-color: var(--eggBlue);
}
.color-eggBlue {
  color: var(--eggBlue);
}
.text-Gray{
  color: var(--textGrey)
}
/* .bg-Page{
  background: var(--backgroundPage)
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--backgroundPage);
}
